@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bodyclass {
  font-size: 16px;
  font-family: 'Krub', sans-serif; }

.uno {
  color: #bbbbbb;
  font-weight: bold; }

.dos {
  color: #FF5733;
  font-weight: bold; }

.tres {
  color: #FFC301;
  font-weight: bold; }

.cuatro {
  color: #E38B78;
  font-weight: bold; }

.nave {
  background-color: sienna;
  background-image: url(../../image/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  padding-bottom: 5rem;
  align-items: center; }

.navegacion-principal {
  display: flex;
  flex-direction: column; }

@media (min-width: 480px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-around; } }

.navegacion-principal a {
  display: block;
  text-align: center;
  color: aliceblue;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem; }

.navegacion-principal a:hover {
  background-color: saddlebrown;
  color: burlywood;
  border-radius: 0.5rem; }

@media (max-width: 768px) {
  .navegacion-principal {
    display: block;
    margin-bottom: 10rem; } }

.bodyclass .parte1,
.bodyclass .parte2,
.bodyclass .parte3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: sienna;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center; }

.bodyclass .parte1 {
  background-image: url(../image/img1.jfif); }

.bodyclass .parte2 {
  background-image: url(../image/img2.jpg); }

.bodyclass .parte3 {
  background-image: url(../image/img3.jpg); }

.bodyclass .parte1,
.bodyclass .parte2,
.bodyclass .parte3 {
  display: block;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 10rem; }

.titulo {
  font-weight: bold;
  color: antiquewhite; }

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.sections {
  margin-top: 2rem;
  padding-top: 2rem; }

.contenedores {
  display: grid;
  background-color: aliceblue;
  height: 250px;
  width: 700px;
  border-radius: 3rem;
  padding: 2rem; }

.izq {
  justify-content: left;
  grid-column: 1/2; }

.der {
  justify-content: right;
  grid-column: 2/3; }

.izq,
.der,
.contenedores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.parte1 {
  grid-column: 2/3; }

/**se elimina el botón menú porque me daba muchos problemas**/
.centro {
  display: flex;
  justify-items: center; }

/**se elimina clase que afectaba solo al botón**/
@media (min-width: 768px) {
  .producto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem; } }

.productos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.producto {
  justify-content: space-between;
  margin: 0 auto;
  text-align: center; }

.producto h3 {
  color: black;
  font-weight: 400; }

.producto p {
  line-height: 2;
  text-align: center;
  background-color: sienna;
  padding: 1rem; }

.foto__receta {
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem; }

@media (min-width: 768px) {
  .foto__receta {
    grid-column: 2 / 3; } }

.titulito {
  text-align: center;
  margin-top: 5rem;
  padding: 3rem; }

.apartado {
  padding: 5rem; }

@media (max-width: 768px) {
  .producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem; }
  .cu {
    margin-top: 4rem;
    padding-bottom: 5rem; }
  .foto__receta {
    height: 100%;
    width: 100%; } }

.decor p:hover {
  background-color: saddlebrown;
  color: burlywood;
  border-radius: 1rem; }

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr 2.6fr 1fr 0.5fr;
  gap: 10px 0px;
  grid-auto-flow: row; }

.header {
  grid-area: header; }

.recetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas: "recipe1 recipe2 recipe3" "recipe4 recipe5 recipe6";
  grid-area: body;
  padding: 1rem;
  margin-top: 5rem; }

.recipe {
  text-align: center;
  text-decoration: none; }

.linkreceta {
  text-decoration: none;
  color: unset; }

.receta1 {
  grid-area: receta1; }

.receta2 {
  grid-area: receta2; }

.receta3 {
  grid-area: receta3; }

.receta4 {
  grid-area: receta4; }

.receta5 {
  grid-area: rreceta5; }

.receta6 {
  grid-area: receta6; }

.ustedes {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr;
  grid-template-rows: 0.1fr 5fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . ." "columna1 . columna2" ". . .";
  grid-area: ustedes; }

.columna2 {
  grid-area: columna2; }

.columna1 {
  grid-area: columna1; }

@media (max-width: 768px) {
  .recetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas: none; }
  .ustedes {
    display: block; } }

.redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  justify-items: center; }

.red1 {
  grid-column: 1/2; }

.red2 {
  grid-column: 2/3; }

.red3 {
  grid-column: 3/4; }

.contenedor__mapa {
  display: flex; }

.mapa {
  height: 300px;
  width: 100%; }

.aboutusmain {
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  background-color: antiquewhite;
  border-radius: 3rem;
  padding: 5rem;
  gap: 2rem; }

.aboutus {
  display: grid;
  grid-template-rows: repeat(2, auto); }

@media (min-width: 768px) {
  .aboutus {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem; } }

.aboutus__contenido {
  align-self: center;
  background-color: navajowhite;
  font-size: 2rem;
  border-radius: .5rem;
  text-align: center;
  padding: 2rem; }

.imagenclass {
  grid-row: 1 / 2;
  justify-self: center;
  margin-top: 3rem;
  border-radius: 3rem; }

@media (min-width: 768px) {
  .imagenclass {
    grid-column: 2 / 3; } }

@media (max-width: 768px) {
  .aboutusmain {
    display: block; }
  .imagenclass {
    height: 100%;
    width: 100%;
    padding-bottom: 2rem; } }

.sing {
  border-radius: 1rem;
  background-color: sienna;
  padding: 0; }

/**resto aplicado simplemente con bootstrap**/
.titulito {
  text-align: center;
  margin-top: 5rem;
  padding: 3rem; }

.titulito h2 {
  font-weight: bold; }

.footer {
  text-align: center;
  margin-top: 5rem; }

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
  background: #241300;
  background: linear-gradient(0deg, #241300 0%, rgba(212, 105, 22, 0.000437675) 5%, #a4590d 100%); }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 1.8rem; }

h1, h2, h3 {
  text-align: center; }

@media (max-width: 622px) {
  h1 {
    font-size: 2.8rem; } }

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
    text-align: center; } }
