.redes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  justify-items: center;
}
.red1{
  grid-column: 1/2;
}
.red2{
  grid-column: 2/3;
}
.red3{
  grid-column: 3/4;
}
.contenedor__mapa{
  display: flex;
}
.mapa{
  height: 300px;
  width: 100%;
}
.aboutusmain{
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  background-color: antiquewhite;
  border-radius: 3rem;
  padding: 5rem;
  gap: 2rem;

}

.aboutus{
  display: grid;
  grid-template-rows:repeat(2, auto);
}
@media (min-width: 768px) {
  .aboutus{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
.aboutus__contenido{
  align-self: center;
  background-color: navajowhite;
  font-size: 2rem;
  border-radius: .5rem;
  text-align: center;
  padding: 2rem;

}
.imagenclass{
  grid-row: 1 / 2;
  justify-self: center;
  margin-top: 3rem;
  border-radius: 3rem;
}
@media (min-width: 768px) {
  .imagenclass {
    grid-column: 2 / 3;
  }
}
@media (max-width: 768px) {
  .aboutusmain{
    display: block;
  }
  .imagenclass{
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;
  }
}
.sing{
  border-radius: 1rem;
  background-color: sienna;
  padding: 0;
}