.bodyclass{
   @extend %estiloBody;
  .parte1,
  .parte2,
  .parte3{
    background-color: sienna;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative ;
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
  }
  .parte1{
    background-image: url(../image/img1.jpg);
  }
  .parte2 {
    background-image: url(../image/img2.jpg);
  }
  .parte3{
    background-image: url(../image/img3.jpg);
  }
  .parte1,
  .parte2,
  .parte3{
    display: block;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2.5rem;
  }
}

.titulo{
  font-weight: bold;
  color: antiquewhite;
}

.contenedor{
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sections{
  margin-top: 2rem;
  padding-top: 2rem;
}
.contenedores{
  background-color: aliceblue;
  height: 250px;
  width: 700px;
  border-radius: 3rem;
}

.contenedores{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
